/* 去除超链接样式 */
a {
  text-decoration: none;
}

body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
