/* ============主体============ */
.main-wrapper {
  width: 1226px;
  height: 460px;
  margin: auto;
  position: relative;
}

/* ======左侧导航栏====== */
.nav-wrapper {
  width: 234px;
  background: rgba(105, 101, 101, 0.6);
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-wrapper ul {
  height: 420px;
}

.nav-wrapper ul li:hover {
  background-color: #ff6700;
}

.nav-wrapper ul li a {
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  position: relative;
  color: white;
  font-size: 14px;
}

.nav-wrapper .fa-angle-right {
  display: block;
  height: 42px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: 200px;
  color: #e0e0e0;
  font-size: 18px;
}

/* ======左侧展开导航栏====== */
.nav-expand-wrapper {
  width: 992px;
  height: 458px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  position: absolute;
  top: 0;
  left: 234px;
  z-index: 10;
}

.nav-expand-wrapper ul {
  float: left;
  width: 248px;
  height: 458px;
  padding: 1px 0;
}

.nav-expand-wrapper a {
  float: left;
  width: 248px;
  height: 76px;
  line-height: 76px;
  position: relative;
}

.nav-expand-wrapper a:hover {
  color: #ff6700;
}

.nav-expand-wrapper img {
  display: block;
  float: left;
  margin: 16px 15px 0 22px;
  width: 40px;
  height: 40px;
}

/* ======右侧轮播图====== */
.img-wrapper {
  width: 1226px;
  height: 460px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
